<h2>Create Your Camp Counselor Profile:</h2>
<br>

<%= render partial: 'layouts/flash_notice', locals: {object: @counselor}%>

<br>
<div id="form">
  <%= render partial: 'new_counselor', locals: {counselor: @counselor} %>
</div>
