<h2>Create Your Camp Counselor Profile:</h2>
<br>

<%= render partial: 'layouts/flash_notice' %>

<br>
<div class="fields_with_errors", id="form">
  <%= render partial: 'new_counselor', locals: {counselor: @counselor} %>
</div>
