<h2>Assignments for: <%= @activity.name %></h2>

<p>
  Name:     <%= @assignment.name %>
  <br>
  Filled:      <%= @assignment.filled %>
  <br>
  Leader needed?:   <%= @assignment.leader_needed %>
  <br>
</p>
