<% camps.each do |camp| %>
  <p>
    <strong>
    <%= link_to "#{camp.name}", camp_path(camp) %>
    </strong>
    <br>
    <%= camp.location %>
    <br>
    <br>
    <%= camp.description %>
    <br>
  </p>
<% end %>
