<h2><%= @camp.name %></h2>
<br>
<div class="subtext">
<h3><%= @camp.location %></h3>
<%= @camp.description %>
</div>
<br>
<br>
<p style="text-align:center;">
  <%= link_to "View #{@camp.name} Activities", camp_activities_path(@camp) %>
</p>
