<h2><%= @camp.name %></h2>
<br>
<div class="subtext">
<h3><%= @camp.location %></h3>
<%= @camp.description %>
<br>
<br>
<%= link_to "View #{@camp.name} Activities", camp_activities_path(@camp) %>
</div>
