/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html,
 body {
 	margin: 0;
 	padding: 0;
 }

 button {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	background: none;
 	font-size: 100%;
 	vertical-align: baseline;
 	font-family: inherit;
 	font-weight: inherit;
 	color: inherit;
 	-webkit-appearance: none;
 	appearance: none;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 }

 body {
 	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	line-height: 1.4em;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
 	background: #f2f4f7;
 	color: #404040;
 	min-width: 230px;
 	max-width: auto;
 	margin: 0 auto;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
 	font-weight: 400;
 }

 .field_with_errors input {
  outline: .25px solid red;
  border: .25px solid red;
}

 .header {
  font: 30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	margin: 10px 0px 30px;
	line-height: 1.4em;
 	text-align: center;
  color: #404040;
 }


  nav {
  	color: #ffffff;
    background: #6a6b6d;
  	margin: 10px 0px 30px 0px;
  	height: 20px;
    text-transform: uppercase;
  	font-size: 12px;
  	text-align: center;
  	font-weight: 400;
   	min-width: inherit;
   	max-width: inherit;
   	padding: 5px 0px 5px 0px;
    border: 1px solid #e8e1cc;
  }

  a {
  	color: inherit;
  	margin: 3px;
  	padding: 3px 15px;
  	text-decoration: none;
    text-transform: uppercase;
  	font-size: 12px;
  	font-weight: 400;
  	border: 1px solid transparent;
  	border-radius: 3px;
  }

  p a {
  	color: inherit;
  	margin: 3px;
  	text-decoration: none;
    text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 500;
  	border: 1px solid transparent;
  }

  p.linkstyle {
  	color: inherit;
  	margin: 3px;
  	text-decoration: none;
    text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 500;
  	border: 1px solid transparent;
  }

  a:hover {
  	color: red;
  }

  a.selected {
  	color: red;
  }

  .linkstyle {
    color: inherit;
  	margin: 3px;
  	text-decoration: none;
    text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 400;
  }

 textarea {
    width: 100%;
    height: 150px;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    border: none;font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
   	line-height: 1.4em;
   	color: #404040;
    background-color: #ffffff;
    resize: none;
}

 h2 {
 	text-align: center;
  margin: 30px 0px 10px 0px;
 }

 div.subtext {
  text-align: center;
 }

 div.notice {
   color: red;
   font-style: italic;
 }

 .hidden {
 	display: none;
 }

 .todoapp {
  /* background: #f5f5f5; */
 	margin: 50px 0 40px 0;
 	position: relative;
 	min-width: 230px;
 	max-width: 700px;
 	margin: 0 auto;
 	/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), */
 	            /* 0 25px 50px 0 rgba(0, 0, 0, 0.1); */
 }

 .todoapp h1 {
 	position: absolute;
 	top: -155px;
 	width: 100%;
 	font-size: 100px;
 	font-weight: 100;
 	text-align: center;
 	color: rgba(175, 47, 47, 0.15);
 	-webkit-text-rendering: optimizeLegibility;
 	-moz-text-rendering: optimizeLegibility;
 	text-rendering: optimizeLegibility;
 }



 /*
 	Hack to remove background from Mobile Safari.
 	Can't use it globally since it destroys checkboxes in Firefox
 */
 @media screen and (-webkit-min-device-pixel-ratio:0) {
 	.toggle-all,
 	.todo-list li .toggle {
 		background: none;
 	}

 	.todo-list li .toggle {
 		height: 40px;
 	}
 }

 @media (max-width: 430px) {
 	.footer {
 		height: 50px;
 	}

 	.filters {
 		bottom: 10px;
 	}
 }
