<% if @camp %>
  <h2><%= @camp.name %> Activities</h2>
<% else %>
  <h2>Activities</h2>
<% end %>
<br>
<br>
<%= link_to "Add New Activity", new_camp_activity_path(@camp) %>
<br>
<br>
<%= render partial: 'activity_list', locals: {activities: @activities, camp: @camp, camps: @camps} %>
