<h2>Create a New Activity:</h2>
<br>

<%= render partial: 'layouts/flash_notice' %>

<br>
<div class="fields_with_errors", id="form">
  <%= render partial: 'new_activity', locals: {activity: @activity} %>
</div>
